<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiyiwe.xichat.dao.message.MessageMapper">

    <select id="selectPageFriendMessagesByUserAccount" resultType="com.xiyiwe.xichat.pojo.message.Message">
        select * from message where senderAccount = #{senderAccount} and receiverAccount = #{receiverAccount} limit page,10 order by createTime DESC
    </select>
</mapper>
